.page-wrapper {
  background: #8C6856;
}

.card-wrapper {
  background: #2B2A28;
  width: 90%;
  margin: 48px auto 0 auto;
  padding: 24px 0;
}

.card-container {
  background: #2B2A28;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  padding: 24px 0;
  border: 2px solid goldenrod;
}

.card {
  height: 475px;
  width: 300px;
  margin: 30px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description a {
  font-size: 24px;
  color: cornsilk;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}
